//Neutral colors
$color-text: hsla(0, 0%, 100%, 0.75);
$color-background: hsl(0, 0%, 95%);
//Primary colors
$color-orange: hsl(31, 77%, 52%);
$color-blue: hsl(184, 100%, 22%);
$color-green: hsl(179, 100%, 13%);